doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="width= device-width, initial-scale= 1.0, user-scalable= no maximum-scale= 1.0", name="viewport")
    title Washing machine
    link(href='https://fonts.googleapis.com/css?family=Lato:300', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type='text/css', href="font-awesome.min.css")
    link(rel="stylesheet", href="index.css")
  body
   section#fullpage
    div.hero
      div.hero-info
        img(src="img/logo_wash.svg") 
        h1 MobiWashMash
        p Free your washing machine&mdash;free yourself!
        p A mobile washing machine available anywhere&mdash;always by our side.
        a.button(data-scroll, href="#information-page") Tell me more
   section#information-page
    div.about.row.section
      div.small-12.medium-12.large-6.columns
        div.circle-1
          img(src="img/circle1.jpg")
        div.circle-2
          img(src="img/circle2.jpg")
      div.small-12.medium-12.large-6.columns
        h2 Your truly personal washing machine.
        p With MobiWashMash, you will liberate yourself from tedious waiting session in your dark basement or bathroom. Or, you’ll avoid interacting with people in laundromats.  Very soon, you’ll be able to do your washing anywhere: on a mountain peak, at the beach, by your fireplace. The unique features of MobiWashMash will show you a whole new world to explore, and free you from routine.
    div.testimonials
      img(src='img/user-1.jpg').userpic
      div.quote
        p Ever since I’ve started using “MobiWashMash”, my life has become easier.
        p  I’ve finally liberated my wash. I’m free to run it anywhere!
        footer
          p ~ Veronica, Poland
        div.ratings
          img(src="img/rating45.png")
    div.features.section
      div.row
        h2 More than a washing machine.
        p.description The unique functionality of our washing machine WILL change your life. With MobiWashMash, your laundry will be mobile. Just like you!
        div.large-4.columns.feature.stats
          div.icon
          h3 MobiWashMash&mdash;always with you!
          p Light high-capacity batteries replace the traditional cast-iron lump. Take your washing machine with your, everywhere! 
        div.large-4.columns.feature.home
          div.icon
          h3 MobiWashMash will think for you!
          p Our patented compensation mechanism will adapt the spin cycle to the hardness of whatever the machine is standing on. Finally, you can spin dry you clothes at the beach, or in a quarry!
        div.large-4.columns.feature.love
          div.icon
          h3 MobiWashMash is there even when it isn’t!
          p An integrated GPS and the AirWnW app will allow you to discover washing machines in your neighborhood! Air Wash&nbsp;n’&nbsp;Wear is coming soon to Google Play and the App Store.
    div.gallery.section
      div.row
        h2 Accentuate your individuality.
        p.description Choose your color and add-ons. Highly customizable features and add-ons will make your washing machine truly yours.
        div.small-12.medium-12.medium-centered.large-4.columns
          img(src="img/pink.png")
          p.text PINK LOVE
        div.small-12.medium-12.medium-centered.large-4.columns
          img(src="img/blue.png")
          p.text BLUE SKY
        div.small-12.medium-12.medium-centered.large-4.columns
          img(src="img/green.png")
          p.text NATURAL GREEN
     div.benefits.section
      div.row
        h2 Washing machine of the new generation
        p.description Latest technology, respect from your peers and money save (if that wasn't obvious).
      div.row
        div.large-4.medium-4.small-12.columns
         div.button-circle 1
         p.title We’ve replaced the iron counterweight with a patented ultralight solar array. A dedicated docking module and automatic firmware upgrades will ensure lasting endurance. MobiWashMash is always ready for the next adventure!
        div.large-4.medium-4.small-12.columns
         div.button-circle 2        
         p.title A built-in gyroscope and a patented drum balancing mechanism enable MobiWashMash to automatically adjust the spin cycle’s intensity to environmental conditions. Now you can spin dry anywhere: in a forest, on a beach, on a mountaintop. MobiWashMash makes an excellent travel accessory.
        div.large-4.medium-4.small-12.columns
         div.button-circle 3
         p.title Sharing is trendy. A GPS module and the AirWnW app allows all the washing machines in your vicinity to be at your disposal! Your plans will never be again spoiled by a burrito sauce staied shirt&mdash;even when you’re far from home.
   div.footer
      div.row
        div.large-6.medium-6.small-12.columns
         p Celebrate our new product  with us:
         a.facebook(href=" https://www.facebook.com/MobiWashMash")
          img(src='img/facebook.svg')
          |&nbsp;facebook.com/MobiWashMash
        div.large-6.medium-6.small-12.columns
         p.title Quality and comfort:
         p.description MobiWashMash has been designed with utmost diligence. We develop our products using agile methods, allowing us to fluidly adapt to our clients’ wishes and needs. Every product introduction is accompanied by exhaustive, iterative and numerous tests. We’re a company of true engineers. Want to know more about our projects? Go ahead and visit: 
          br
          a.link(href='https://softwaremill.com/portfolio') our website 
          | and / or 
          a.link(href='https://softwaremill.com/blog') blog