doctype 5
html(lang="en")
  head
    title Washing machine
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Lato:300', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="index.css")
    script(src="app.js")
    //- script(type='text/javascript')
    //-   if (foo) {
    //-      bar()
    //-   }
  body
    div.hero
      div.hero-info
        h1 We can improve your life
        p Thanks to our newest invention our start up is one of the most popular in Western Europe.
        a.button Tell me more
    div.about.row.section
      div.large-6.columns
        img(src="img/circles-machine.png")
      div.large-6.columns
        h2 One thousand years ago
        p My bologna has a first name, it's O-s-c-a-r. My bologna has a second name, it's M-e-y-e-r. Oh, I love to eat it every day, and if you ask me why, I'll say: 'cuz Oscar Meyer has a way with b-o-l-o-g-n-a. How's that?
    div.testimonials
      img(src='img/user-1.png').userpic
      div.quote
        p It doesn't matter what comes, fresh goes better in life, with Mentos fresh and full of Life!
        p Nothing gets to you, stayin' fresh, stayin' cool, with Mentos fresh and full of life! Fresh goes better!
        footer
          &mdash; Marta
        div.ratings
          img(src="img/rating45.png")
    div.features.section
      div.row
        h2 What you are about to see is real
        p.description Come and knock on our door. We've been waiting for you. Where the kisses are hers and hers and his, three's company, too! Come and dance on our floor. Take a step that is new.
        div.large-4.columns.feature.stats
          div.icon
          h3 Statistics
          p They are genuine citizens who, having filed their claims in a real small claims court.
        div.large-4.columns.feature.home
          div.icon
          h3 Home
          p You're my one and only tiger, with my one and only taste how to take a breakfast.
        div.large-4.columns.feature.love
          div.icon
          h3 Love
          p We finally got a piece of the pie. Fish don't fry in the kitchen, beans don't burn.
    div.gallery.section
      div.row
        h2 Gallery
        p.description We want to present ....
        div.large-4.medium-4-small-12.columns
          img(src="img/wash1.jpg")
        div.large-4.medium-4-small-12.columns
          img(src="img/wash2.jpg")
        div.large-4.medium-4-small-12.columns
          img(src="img/wash3.jpg")
     div.benefits.section
      div.row
        h2 Benefits
        p.description We want to present .... 
        div.large-12.medium-12-small-12.columns
         a.button Tell me more
         p.title We want to present ....
        div.large-12.medium-12-small-12.columns
         a.button Tell me more
         p.title We want to present ....
        div.large-12.medium-12-small-12.columns
         a.button Tell me more
         p.title We want to present ....
   div.footer.section
      div.row
        div.large-4.medium-4-small-12.columns
         p.title We want to present ....
         p.description We want to present ....
         p.description We want to present ....
         p.description We want to present ....
        div.large-4.medium-4-small-12.columns
         p.title We want to present ....
         p.description We want to present ....
         p.description We want to present ....
         p.description We want to present ....
        div.large-4.medium-4-small-12.columns
         p.title We want to present ....
         p.description We want to present ....
         p.description We want to present ....
         p.description We want to present ....