@import "normalize.min.css"
@import "foundation.min.css"
@import "nib"

$green = #70ab29
$mauve = #94517b
$dark-green = #005e20
$white = #ffffff

body
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #6d6d6d;
  
h1
h2
h3
h4
h5
h6
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: inherit;
  
h1
  font-size: 2.5rem;
  
h2
  font-size: 1.9rem;
  
h3
  font-size: 1.4rem;

h5
  font-size: 2rem;
  
h6 
  font-size: 2rem;
  
.section
  padding: 120px 0 80px;

p.description
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

.hero
  min-height: 100vh;
  color: white;
  background: url('img/hero-image.jpg'), $mauve;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 40px;
 
.hero-info
  text-align: center;
  max-width: 530 px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  
  & p
    opacity: 0.85;
    margin-bottom: 0;

  & .logo
     position: absolute;
     top: 25px;
     left: 120px;
     font-size: 1.2 em;
      
  & img
    max-width: 100px;
    
  .button
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 60px;
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
    margin-top: 3rem;
    
    &:hover
      background-color: white;
      color: $mauve;
    
.about 
  & h2
    color: $green;
    max-width: 450px;
  
  & p
    max-width: 350px;
    min-width: 100px;
    
  & img
    max-width: 360px;

  & .circle-1
    height: 270px;
    width: 270px;
    border-radius: 50%;
    overflow: hidden;
    margin: -10% 0 0% 0%;
    box-shadow: 5px 10px 10px #EFEFEF;

  & .circle-2
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: -35% 0 2rem 35%;
    box-shadow: 5px 10px 10px #EFEFEF;

.testimonials
  background-color: #F6F6F6;
  padding: 40px;
  overflow: auto;
  text-align: center;
  
  & .userpic
    width: 120px;
    height: 120px;
    border-radius: 60px;
    overflow: hidden;
    margin: 0 auto 2rem;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.23);
    
  & .quote 

    & p
      margin-bottom: 0.25rem;
    
    & footer
      text-align: right;
      padding-right: 50px;
      margin-top: 1rem;
      
      & p
        font-weight: 700;
    
    & .ratings
      max-width: 100px;
      margin: 1.5rem auto 0;
     
.features
  background-color: $green;
  background: linear-gradient(#65992d, #90cf40);
  color: white;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  
  & .description
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
  
  & .stats .icon
    background-image: url('img/bulb-icon.png');
  
  & .home .icon
    background-image: url('img/cloud-icon.png');
    
  & .love .icon
    background-image: url('img/pointer-icon.png');
  
  & .icon
    background-color: $dark-green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 60px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3.5rem;
    margin-bottom 3.5 em;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.34);
    
  & h3
    margin-top: 2rem;
    font-weight: bold;

.gallery
  background-color: #F6F6F6;
  background: linear-gradient(#ffffff,#F0EFEF);
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;

  & .description
    max-width: 530px;
    padding-bottom: 5em;
    margin-right: auto;
    margin-left: auto;
    

  & img
    width: 300px;
    max-width:100%;
    border-radius: 45px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.23);


  & .text
     text-align: center;
     margin-top: 10px;
     font-size: 1.3em;
     

.benefits
  background: linear-gradient(#99527e,#cd6c99); 
  text-align: center;
  color: white;
  padding-top: none;
  padding-right: 1rem;
  padding-left: 1rem;
  
  & .title
    font-size: 18px;
    padding-top: 2em;

  & .description-header
    max-width: 530px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5em;

  & .button-circle
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 90px;
    background-color: transparent;
    box-shadow: none;
    font-size: 30px;
    height: 4em;
    width: 4em;
    padding: 1.5em 0 1.5em 0;
    margin-top: 1.5em;
    display: block;
    margin-right: auto;
    margin-left: auto;

    &:hover
      background-color: white;
      color: $mauve;

.footer
  background-color: #000828;
  color: white;
  text-align: center;
  padding: 50px 0 80px;
  
  & a 
    font-weight: bold;
   
  & .facebook img
    vertical-align: middle;
    
  & .title
    margin-top: 2rem;
    
  & p
    opacity: 0.75;
  

@media screen and (min-width: 320px) and (orientation: landscape)
  .section
    padding: 80px 0 50px;

  .hero
    padding-top: 20px;

  .hero-info 
    & img
      max-width: 60px;
    & h1
      margin-bottom: 0.5rem;
      
    & .button
      margin-top: 1rem;
      
  .about .circle-1
  .about .circle-2
    display: none;
    
  .about h2
    max-width: 100%;
  
  .about p
    max-width: 100%;
    
  .testimonials
    text-align: left;
    padding: 40px 20px;
    
    & .userpic
      float: left;
      margin-right: 2rem;
      
  .testimonials .quote footer
    margin-top: 0;
    
  .testimonials .quote .ratings
    margin: 0;
    
  .features .icon
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
    width: 120px;
    height: 120px;
  
  .gallery img
    width: 220px;


@media screen and (min-width: 375px)
  .hero
    padding-top: 100px;

    
@media screen and (min-width: 375px) and (orientation: landscape)
  .hero
    padding-top: 50px;
    

@media screen and (min-width: 768px)
  .hero
    padding-top: 30%;
    
  .hero-info 
    & img 
      max-width: 130px;

    & h1
      margin-top: 2rem;
    
  .testimonials
    text-align: left;
    padding: 40px 20px;
    
    & .userpic
      float: left;
      margin-right: 2rem;
    
  .testimonials .quote .ratings
    margin: 0;
    max-width: 100%;
    
    & img
      max-width: 100px;
      
  .features .icon
    width: 160px;
    height: 160px;
    
  .footer .title
    margin-top: 0;
    
    
@media screen and (min-width: 768px) and (orientation: landscape)
  .hero
    padding-top: 20%;
    
  .about .circle-1
  .about .circle-2
    display: block;
    
  .about .circle-1
    margin: 0% 0 0% 10%;
    
  .about .circle-2
    margin: -25% 0 0rem 45%;
    
  .testimonials
    padding: 40px 100px;
    
  .gallery img
    width: 270px;
    

@media screen and (min-width: 1024px)
  .hero
    padding-top: 15%;
    
  .gallery img
    width: 300px; 



